<div class="container">
  <h2 class="page-title session">-管理者ログイン-</h2>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="text-center">
      <div class="login d-flex session">
        <p class="login-text">e-mail</p>
        <div class="login-text"><%= f.email_field :email, autofocus: true, autocomplete: "email" %></div>
      </div>
      <div class="login d-flex session">
        <p class="login-text">password</p>
        <div class="login-text"><%= f.password_field :password, autocomplete: "current-password" %></div>
      </div>
    </div>
    
    <div class="d-flex justify-content-center btn-session">
      <%= f.submit "ログイン", class: "btn btn-primary w-25 save col-xs-6 btn-lg" %>
    </div>
  <% end %>


</div>