<div id="home" class="big-bg">
  <div class="home-content wrapper">
    <h1 class="top-page-title">Ballpark</h1>
    <p>Ballparkはオンライン上でアピールとスカウトを完結させるサイトです</p>
    <div class="button">
      <div class="button-school mb-5">
        <%= link_to '学校新規登録', new_school_registration_path, class: "mr-3 btn-top glyphicon glyphicon-home btn btn-info" %>
        <%= link_to '学校ログイン', new_school_session_path, class: "ml-3 btn-top btn-primary save col-xs-6 btn" %>
      </div>
      <div class="button-player">
        <%= link_to '選手新規登録', new_player_registration_path, class: "mr-3 btn-top glyphicon glyphicon-home btn btn-info" %>
        <%= link_to '選手ログイン', new_player_session_path, class: "ml-3 btn-top btn-primary save col-xs-6 btn" %>
      </div>
    </div>
  </div>
</div>