<div class="container">
  <div class="top-img">
    <div class="d-flex align-items-center justify-content-center">
      <h1>Ballpark</h1><br>
      <h4>-サイト概要-</h4>
    </div>
    <%= link_to '学校新規登録', new_school_registration_path, class: "btn btn-secondary" %>
    <%= link_to '選手新規登録', new_player_registration_path, class: "btn btn-secondary" %>
    <%= link_to '学校ログイン', new_school_session_path, class: "btn btn-secondary" %>
    <%= link_to '選手ログイン', new_player_session_path, class: "btn btn-secondary" %>
  </div>
</div>