/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";


// .top-img {
// 　width: 100%;
// 　height: 300px; /* 全画面表示 */
// 　background-image: image-url('ballpark_1.jpeg');
// 　background-size: cover;

  //background-repeat: no-repeat;
  //position:　absolute;
  //background-position: center;
// }

.page-title {
  text-align: center;
  margin-top: 20px;
}

.login-text {
  width: 50%;
}

.header-name {
  padding-top: 8px;
  // padding-right: 10px;
  font-weight: bold;
  color: #444444;
}

.icon {
  border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
  width: 100px;  /* 縦横を同じ値にする */
  height: 100px;  /* 縦横を同じ値にする */
  object-fit: cover; /* 縦横比固定したまま上2つの縦横の範囲内に収まるように配置する */
}

.icon-post {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  object-fit: cover;
}

.post-title h4 {
  line-height: 124px;
}

.left-message{
  text-align: left;
}

.right-message{
  text-align: right;
}

.footerFixed{
    min-height: 100vh; /* ←コンテンツの高さの最小値＝ブラウザの高さに指定 */
    position: relative;/* ←相対位置 */
    padding-bottom: 60px; /* ←フッターの高さを指定 */
    box-sizing: border-box;
    /* ↑ヘッダーやフッターを含むすべての要素の高さ＝min-height:100vhになるように指定 */
}

footer{
    position: absolute;/* ←絶対位置 */
    bottom: 0; /*下に固定*/
    width: 100%;
    text-align: center;
}

.registration {
  margin-top: 30px;
}

.session {
  margin-top: 50px;
}

.btn-session {
  margin-top: 150px;
}

.card {
  margin-top: 30px;
}

.card-title {
  margin-bottom: 1.5rem;
}

.post {
  margin-top: 10px;
}


/* _unsubscribe */
.last-text {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: large;
}

/* fontawsome色指定 */
.fa-heart {
  color: orangered;
}

.fa-heart:hover {
  color: orangered;
}

.fa-envelope-open-text {
  color: royalblue;
}

.fa-cog {
  color: slategray;
}